@import 'config';

.cases {
  & > *:not(:first-child),
  & > *:not(:last-child) {
    margin-right: -15px;

    @media (min-width: $min-tablet) {
      margin-right: 0;
    }

    @media (min-width: $page-limit) {
      overflow: initial;
    }
  }

  &__item {
    padding-right: 30px;
    text-decoration: none;
    color: $color-light;

    &:focus {
      outline: none;
    }

    &Title {
      font-size: 0.7rem;
      color: $color-grey;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 0;
      transition: 0.6s ease;

      @media (min-width: $min-tablet) {
        margin-top: 30px;
      }
    }

    &Description {
      font-size: 1.1rem;
      line-height: 1.2;
      font-weight: 500;
      transition: 0.6s ease;

      @media (min-width: $min-tablet) {
        font-size: 1.2rem;
      }
    }

    &Thumbnail {
      border-radius: 2px;
      box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
      width: 100%;
      min-height: 300px;
    }

    &:hover {
      .cases__itemTitle {
        color: $color-light;
      }

      .cases__itemDescription {
        color: $color-primary;
      }
    }
  }

  &__arrow {
    display: none;
    border: 1px solid $color-light;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -50px;
    cursor: pointer;
    transition: 0.2s ease;
    align-items: center;
    justify-content: center;

    @media (min-width: $min-tablet) {
      display: flex;
    }

    &:hover {
      background: $color-primary;
      border-color: $color-primary;
    }

    &Next {
      right: 0;
    }

    &Prev {
      right: 60px;
    }
  }
}
