@import 'config';

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &Label {
    display: block;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;

    &__scalable {
      pointer-events: none;
      font-size: 1rem;
      line-height: 1.3;
      transform: translateY(1.8rem);
      color: $color-grey;

      &Scaled {
        transform: translateY(0);
        font-size: 0.8rem;
        line-height: 1.6;
        color: $color-light;
      }
    }

    &__required::before {
      content: '* ';
      color: $color-primary;
    }
  }

  &Text {
    font-size: 18px;
    line-height: 24px;
    padding: 6px 0;
    display: block;
    width: 100%;
    outline: 0;
    resize: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $color-light;
    color: $color-light;

    &__empty {
      border-bottom-color: $color-grey;
    }

    &:focus {
      border-bottom-color: $color-light;
    }
  }

  &Errors {
    & > label {
      color: #ff0050 !important;

      &::before {
        color: #ff0050 !important;
      }
    }

    & > input,
    & > textarea {
      color: #ff0050 !important;
      border-bottom: 1px solid #ff0050 !important;
    }

    &__message {
      &::before {
        content: '';
        position: absolute;
        border-bottom: 4px solid #ff0050;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        margin: 4px 7px;
      }

      &Text {
        position: absolute;
        color: $color-light;
        z-index: 1;
        transition: all 0.2s ease-in-out 0s;
        background: #ff0050;
        padding: 3px 10px;
        margin: 8px 0 0;

        & > span {
          font-size: 11px;
          line-height: 1.2;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          overflow: hidden;
        }
      }
    }
  }

  &Checkbox {
    margin: 0 0 0 $gutter * 2;
    font-size: 0.8rem;
    line-height: 1.4;
    color: $color-grey;

    &__check {
      position: absolute;
      opacity: 0;

      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }

      & + label::before {
        margin-left: -$gutter * 2;
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        border: 1px solid $color-grey;
      }

      &:checked + label::before {
        background: $color-light;
        border-color: $color-light;
      }

      &:checked + label::after {
        margin-left: -$gutter * 2;
        content: '';
        position: absolute;
        left: 3px;
        top: 8px;
        background: $color-light;
        width: 2px;
        height: 2px;
        box-shadow:
          2px 0 0 #151733,
          4px 0 0 #151733,
          6px 0 0 #151733,
          6px -2px 0 #151733,
          6px -4px 0 #151733,
          6px -6px 0 #151733,
          6px -8px 0 #151733,
          6px -10px 0 #151733;
        transform: rotate(45deg);
      }
    }
  }
}
