@import 'config';

.button {
  border: none;
  color: $color-light;
  background: $color-primary;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 7px $gutter*2;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.4s ease;

  &:hover {
    background: rgba($color-primary, 0.8);
  }

  &:focus {
    outline: none;
  }

  &__large {
    font-size: 1.1rem;
    padding: 20px 60px;

    @media (min-width: $min-tablet) {
      font-size: 1.6rem;
    }
  }
}
