@import 'config';

.container {
  @include container;

  &__title {
    font-size: 2.5rem;
  }

  .full {
    max-width: none;

    @media (min-width: $min-tablet) {
      max-width: none;
    }

    @media (min-width: $min-desktop) {
      max-width: none;
    }
  }
}
