@import 'config';

.box {
  &__inner {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-light;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    border-radius: 2px;
  }
}
