@import 'config';

.segment {
  @include segment;

  color: $color-light;
  overflow: hidden;

  &__fill {
    &Dark {
      background: $color-dark-darker;
    }

    &Light {
      background: $color-dark-lighter;
    }
  }
}
