@import 'config';

.logo {
  @include reset-anchor;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__svg {
    display: block;
  }

  &__name {
    color: $color-light;
    margin: 0;
    margin-left: 10px;
    letter-spacing: -0.03rem;
    font-size: 1.2rem;

    span {
      font-weight: 300;
    }
  }
}
