@import 'config';

.container {
  width: 100%;
  height: 40vh;

  // set up unitless values
  $margin-top-mobile-unitless: strip-unit($segment-padding-mobile);
  $padding-top-unitless: strip-unit($segment-padding);

  @include vertically-responsive(margin-top, $margin-top-mobile-unitless * -1px);

  @media (min-width: $min-tablet) {
    @include vertically-responsive(margin-top, percentage(($padding-top-unitless * -1px) / $page-limit));
  }

  @media (min-width: $page-limit) {
    @include vertically-responsive(margin-top, $padding-top-unitless * -1px);
  }
}
