@import 'config';

.navigation {
  @include reset-list;
  @include grid-row($justify: space-between);

  &__item {
    margin: 0;
    margin-right: 2rem;
    font-size: 0.85rem;
    font-weight: 500;

    & > a {
      color: $color-light;
      text-decoration: none;
      padding-bottom: 2px;
      transition: color 0.6s ease;
      -webkit-transition: color 0.6s ease;

      &:hover {
        color: $color-primary;
      }
    }

    & > &Active {
      color: $color-light !important;
      border-bottom: 1px solid $color-primary;
      cursor: default;
    }
  }
}
