@import 'config';

.expertise {
  @include grid-row($justify: space-between);

  position: relative;
  margin-top: $gutter * 4;

  &__showcase {
    width: 40%;
    position: absolute;
    right: 0;
    top: -$gutter * 4;
    perspective: 40px;

    &__item {
      display: block;
      background-color: white;
      box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);

      & > h4 {
        text-decoration: none;
        color: $color-light;
        position: absolute;
        left: $gutter * 2;
        right: $gutter * 2;
        bottom: $gutter * 2;
        font-size: 1.5rem;
        margin: 0;
        text-shadow: 0 10px 50px $color-dark;
      }
    }
  }

  &__list {
    @include reset-list;

    background: #151733;
    padding: $gutter * 4;
    width: 50%;

    &__item {
      font-size: 1.2rem;
      line-height: 3;
      font-weight: 500;
      margin: 0;
      position: relative;

      & > a {
        color: $color-light;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $color-primary;
        }
      }

      &Active {
        color: $color-primary !important;

        &::after {
          border-bottom: 1px solid $color-primary;
          top: calc(50% + 2px);
          position: absolute;
          right: $gutter;
          content: '';
          width: 40px;
        }
      }
    }
  }

  &__frame {
    border: 1px solid $color-light;
    position: absolute;
    top: $gutter * 4;
    bottom: $gutter * 4;
    left: calc(50% - 90px);
    width: calc(50% - 120px);
  }
}
