@import 'config';

.case {
  &Title {
    font-size: 3em;
    margin-top: $gutter * 4;
  }

  &Description {
    text-transform: uppercase;
    font-size: 0.75em;
    color: $color-grey;
  }

  &Lead {
    font-size: 1.3em;
    color: $color-grey;
    margin-top: $gutter * 4;
  }

  &Subtitle {
    font-size: 2.1em;
  }

  &__tiles {
    @include grid-row($grid-gutter: $gutter * 2);

    margin-top: $gutter * 4;

    @media (min-width: $min-tablet) {
      @include grid-row($grid-gutter: $gutter * 4);
    }

    &Item {
      @include grid-col($width: calc(100% - 40px), $grid-gutter: $gutter * 2);

      margin: 20px;
      position: relative;
      background: $color-dark-lighter;
      padding: $gutter * 2;

      @media (min-width: $min-tablet) {
        @include grid-col($width: calc(50% - 40px), $grid-gutter: $gutter * 4);

        padding: $gutter * 4;
      }

      &__title {
        font-size: 2em;
        font-weight: 600;
      }

      &__description {
        font-size: 0.9em;
      }
    }
  }

  &__slider {
    &Web {
      &__item {
        &Wrapper {
          border-radius: 7px 7px 0 0;
          overflow: hidden;
          background: $color-dark-light;
          margin: $gutter;
        }

        &Svg {
          display: block;
        }

        &Image {
          width: 100%;
        }
      }
    }

    &Mobile {
      &__item {
        &Wrapper {
          position: relative;
          overflow: hidden;
          padding: calc(100% / 23) calc(100% / 22);
          margin: $gutter;
        }

        &Image {
          width: 100%;
        }

        &Svg {
          @include fit;
        }
      }
    }

    &Web,
    &Mobile {
      & > *:not(:first-child),
      & > *:not(:last-child) {
        margin-right: -15px;

        @media (min-width: $min-tablet) {
          overflow: initial;
        }
      }

      &__item:focus {
        outline: none;
      }
    }
  }

  &__full {
    &Image {
      height: 50vh;
      overflow: hidden;

      & > div {
        height: 100%;
      }
    }
  }
}
